.Latest{
    background-color: #222222e3;
    color: #f0f0f0;
    border-bottom: 1px solid #fff;
}
.Latest h1{
    text-transform: uppercase;
    text-align: center;
    text-shadow: 10px 10px 9px #000;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bolder;
}


.Latest hr{
    border: 2px solid #f8ca32;
}

.Latest__Video{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Video__Desc{
    padding-left: 20px;
    width: 100%;
}

.Video__Video iframe{
    grid-column: 1/3;
}

.Latest p{
    font-size: 14px;
    width: 90%;
    padding: 10px;
}

